<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
      integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <div id="navbar-placeholder"></div>
    <header>
      <nav>
        <div class="nav-bar-container">
          <div class="nav-bar-image">
            <a href="/">
              <img src="../assets/images/Logo.svg" alt="Logo" />
            </a>
          </div>
          <!-- Hamburger Menu -->
          <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- Navigation links -->
          <div class="nav-links">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li class="dropdown">
                <a href="#">Courses<i class="ri-arrow-down-s-line"></i></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="../Pages/web-development.html">Web Development</a>
                  </li>
                  <li>
                    <a href="../Pages/mobile-app-development.html"
                      >Mobile App Development</a
                    >
                  </li>
                  <li>
                    <a href="../Pages/digital-marketing.html"
                      >Digital Marketing</a
                    >
                  </li>
                  <li><a href="#">Product Design</a></li>
                  <li><a href="#">Cyber Security</a></li>
                  <li><a href="#">Data Analysis</a></li>
                </ul>
              </li>
              <li><a href="../pages/hire-page.html">Hire a talent</a></li>
              <li>
                <a href="../sections/working-with-us.html">Work with us</a>
              </li>
              <li><a href="../pages/about.html">About us</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
            <div class="nav-button btn">
              <a href="../Pages/choose-path.html" class="btn"
                >Enroll now<i class="ri-arrow-right-line"></i
              ></a>
            </div>
          </div>
          <div class="second-nav-button">
            <a href="../Pages/choose-path.html" class="btn"
              >Enroll now<i class="ri-arrow-right-line"></i
            ></a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
